/* Inserta tu codigo aqui */
*{
	color: white;
}
a{
	text-decoration: none;
}
footer, header{
	background-color: black;
}
article{
	background-color: #424242;
}
              /* Header */
/* Menu */
nav{
	margin-left:40%;
}
ul{
	list-style: none;
}
li{
	display: inline-block;
	margin: 15% 2%;
}
.pb-2{
	padding-bottom: 2%;
}
.pt-2{
	padding-top: 2%;
}
.md-3{
	margin-bottom: 5%;
}
.orange{
	color: orange;
}
/* Seccion 1 Spring Came*/
.cuadronegro{
	background-color: black;
	width:80%;
	padding: 5% 0%;
	margin-top: 10%;
	margin-left: 13%;
	text-align: center;
}
.bg-floresmoradas{
	background-image: url("../image/header-image.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 450px;
}
.textnaranja{
	font-family: Courgette;
	font-size: 650%;
}
/* Seccion2 flores */
.cuadronegro1{
	background-color: black;
}
#cnf{
	margin-top: 5%;
}
                        /* Seccion3 */
/* Articulo */

/* Video */
iframe{
width:640px;
height:560px; 
frameborder:none; 
webkitallowfullscreen 
mozallowfullscreen 
allowfullscreen
}
/* Buscador */
form{
	margin-left: 16%;
}
/* Responsive */

@media screen and (max-width : 920px) {

}

@media screen and (max-width: 600px) {

}
